name: CD Deploy to Minikube

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Set up kubectl
      uses: azure/setup-kubectl@v4
      with:
        version: 'latest'
        
    - name: Set Kubernetes Context
      uses: kubernetes/set-context@v3
      with:
        method: kubeconfig
        kubeconfig: ${{ secrets.KUBECONFIG }}
        
    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f ./k8s/
        kubectl rollout restart deployment/book-service deployment/gateway deployment/order-worker
        kubectl rollout status deployment/book-service deployment/gateway deployment/order-worker --timeout=300s