name: CI Build & Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Run Tests (xUnit)
      run: dotnet test --no-restore --verbosity normal --collect:"XPlat Code Coverage"
      
    - name: Build Docker Images
      run: |
        minikube docker-env | bash # для Minikube (опционально)
        docker build -t book-service:k8s -f ./Library.Web/Dockerfile .
        docker build -t gateway:k8s -f ./Gateway/Dockerfile .
        docker build -t order-worker:k8s -f ./OrderWorkerService/Dockerfile .
        docker build -t analitycs-worker:k8s -f ./AnaliticsWorker/Dockerfile .